# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.PluginShell.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\DevelopingProjects\PluginShell\.idea\.idea.PluginShell\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
